<form [ngFormModel]="form" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="currentPassword">Current Password</label>
    <input type="text" class="form-control" id="currentPassword" ngControl="currentPassword" #currentPassword="ngForm">
    
    <div *ngIf="currentPassword.touched && currentPassword.errors">
      <div class="alert alert-danger" *ngIf="currentPassword.errors.required">Old password is required.</div>
      <div class="alert alert-danger" *ngIf="currentPassword.errors.invalidPassword">Old password is incorrect.</div>
    </div>
  </div>

  <div class="form-group">
    <label for="newPassword">New Password</label>
    <input type="text" name="" id="newPassword" class="form-control" ngControl="newPassword" #newPassword="ngForm">
    
    <div *ngIf="newPassword.touched && newPassword.errors">
      <div class="alert alert-danger" *ngIf="newPassword.errors.required">New password is required.</div>
      <div class="alert alert-danger" *ngIf="newPassword.errors.toShort">Password must be at least {{ newPassword.errors.minimumLength }} characters long</div>
    </div>
  </div>

  <div class="form-group">
    <label for="confirmPassword">Confirm Password</label>
    <input type="text" name="" id="confirmPassword" class="form-control" ngControl="confirmPassword" #confirmPassword="ngForm">
    
    <div *ngIf="confirmPassword.touched">
      <div class="alert alert-danger" *ngIf="confirmPassword.errors && confirmPassword.errors.required">Confirm the password</div>
      <div class="alert alert-danger" *ngIf="form.hasError('doesNotMatch')">Password does not match</div>
    </div>
  </div>
  
  <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Change Password</button>
</form>