<h1>Users</h1>
<div *ngIf="isLoading"><i class="fa fa-spinner fa-spin"></i></div>

<div *ngIf="!isLoading">
  <p><a [routerLink]="['NewUser']" class="btn btn-primary">Add User</a></p>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="#user of users">
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td><span class="glyphicon glyphicon-edit"></span></td>
        <td><span class="glyphicon glyphicon-remove"></span></td>
      </tr>
    </tbody>
  </table>
</div>